<!-- /* para usar este json como backend é necessário instalar: npm install -g json-server */ 
 exetue o backend com o comando "json-server --watch backend/videos.json"
--> 
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='flexbox.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='novo.css') }}">
        <title>Roger's Page</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/Favicon.png') }}" type="image/x-icon">

        <!-- Scripts do menu lateral -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      
    </head>
<body>
    <header>
        <nav class="cabecalho__container">

            <div class="logo__item">
                <img src="{{url_for('static', filename='img/Logo.png')}}" alt="Logo da minha aplicacao" />
            </div>

            <div class="cabecalho__pesquisar__item">
                <form class="form__pesquisa">
                    <input type="search" class="pesquisar__input" placeholder="Pesquisar">
                    <img src="{{url_for('static', filename='img/topbar/keyboard.png')}}" alt="Ícone de teclado" class="pesquisar__input-teclado">
                    <button class="pesquisar__btn">
                        <img src="{{url_for('static', filename='img/topbar/search.png')}}" alt="Ícone de lupa">
                    </button>
                    <button class="cabecalho__audio">
                        <img src="{{url_for('static', filename='img/topbar/Mic.png')}}" alt="Ícone de microfone">
                    </button>
                </form>
            </div>
               
            <div class="cabecalho__icones__item">
                <a href="#" class="cabecalho__videos"></a>
                <a href="#" class="cabecalho__apps"></a>
                <a href="#" class="cabecalho__notificacoes"></a>
                <a href="#" class="cabecalho__avatar"></a>
                <label class="cabecalho__switch">
                    <input type="checkbox" class="cabecalho__switch-input">
                    <span class="cabecalho__switch-slider"></span>
                </label>
            </div>
        </nav>
    </header>

    <!-- Menu lateral --> 
    <aside class="menu__container">
        <ul class="menu__lista">
            <li>
                <a class="menu__itens" href="#">
                    <i class="icone__inicio icone-item"></i>
                    <span>Início</span></a>
            </li>

            <li>
                <a class="menu__itens" href="#">
                    <i class="icone__explorar icone-item"></i>
                    <span>Explorar</span></a>
            </li>
            <li>
                <a class="menu__itens" href="#">
                    <i class="icone__biblioteca icone-item"></i>
                    <span>Biblioteca</span></a>
            </li>
        </ul>

        <ul class="menu__lista">
            <li>
                <a class="menu__itens" href="#">
                    <i class="icone__historico icone-item"></i>
                    <span>Histórico</span></a>
            </li>

            <li>
                <a class="menu__itens" href="#">
                    <i class="icone__relogio icone-item"></i>
                    <span>Cursos</span></a>
            </li>

            <li>
                <a class="menu__itens" href="#">
                    <i class="icone__like icone-item"></i>
                    <span>Marcados com like</span></a>
            </li>
        </ul>

        <ul class="menu__lista">
            <li>
                <a class="menu__itens" href="#">
                    <i class="icone__mostrar icone-item"></i>
                    <span>Mostrar mais</span></a>
            </li>
            <li>
                <a class="menu__itens inscricoes" href="#">NOVOS</a>
            </li>
        </ul>

        <ul class="menu__lista">
            <li class="jogos">
                <a class="menu__itens" href="#">
                    <i class="icone__jogos icone-item"></i>
                    <span>Fale conosco</span></a>
            </li>

            <li class="menu__itens">
                <a href="#">MAIS INFORMAÇÕES</a>
            </li>

        </ul>
    </aside>
     
        <section class="superior__secao__container">
            <div class="superior__secao__container-wrapper">
                <a href="#" name="MY SQL" class="superior__item">MY SQL</a>
                <a href="#" name="IBM DB2" class="superior__item">IBM DB2</a>
                <a href="#" name="PowerBI" class="superior__item">Power BI</a>
                <a href="#" name="Data Science" class="superior__item">Data Science</a>
                <a href="#" name="Apps" class="superior__item">Apps</a>
                <a href="#" name="Programação" class="superior__item">Programação</a>
                <a href="#" name="Inteligência Artificial" class="superior__item">Inteligência Artificial</a>
                <a href="#" name="Inovação" class="superior__item">Inovação</a>
            </div>
        </section>


        <ul class="videos__container">        
            <div class="parent">
                <div class="card">
                    <div class="logo">
                        <span class="circle circle1"></span>
                        <span class="circle circle2"></span>
                        <span class="circle circle3"></span>
                        <span class="circle circle4"></span>
                        <span class="circle circle5">
                            
                        </span>
        
                    </div>
                    <div class="glass"></div>
                    <div class="content">
                        <span class="title">Banco de Dados MYSQL</span>
                        <span class="text">Aprenda mais sobre este Banco de Dados!</span>
                    </div>
                    <div class="bottom">                    
                        <div class="social-buttons-container">
                            <button class="social-button .social-button1">
                                <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" class="svg">
                                    <path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"></path>
                                </svg></button>
                            <button class="social-button .social-button2">
                                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="svg">
                                    <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                                </svg>
                            </button>                            
                        </div>
                        <div class="view-more">
                            <button class="view-more-button">Veja mais</button>
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parent">
                <div class="card">
                    <div class="logo">
                        <span class="circle circle1"></span>
                        <span class="circle circle2"></span>
                        <span class="circle circle3"></span>
                        <span class="circle circle4"></span>
                        <span class="circle circle5">
                            
                        </span>
        
                    </div>
                    <div class="glass"></div>
                    <div class="content">
                        <span class="title">Banco de Dados IBM DB2</span>
                        <span class="text">Aprenda mais sobre este Banco de Dados!</span>
                    </div>
                    <div class="bottom">                    
                        <div class="social-buttons-container">
                            <button class="social-button .social-button1">
                                <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" class="svg">
                                    <path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"></path>
                                </svg></button>
                            <button class="social-button .social-button2">
                                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="svg">
                                    <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                                </svg>
                            </button>                            
                        </div>
                        <div class="view-more">
                            <button class="view-more-button">Veja mais</button>
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                        </div>
                    </div>
                </div>
            </div>  
        </ul>
        <script src="/script.js"></script>

        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    
</body>
</html>